.btn {
  display: inline-block;
  padding: 20px 30px;
  border: 1px solid $white;
  border-radius: 5px;

  color: inherit;
  font-size: 13px;
  text-transform: uppercase;

  background-color: transparent;

  transition: 0.25s;

  &:hover,
  &:focus {
    border: 1px solid $white;

    outline: none;
    box-shadow: 0 0.5em 0.5em -0.4em $white;
    transform: translateY(-0.25em);
  }
}

@each $color-name, $color in $colors {
  .btn-#{$color-name} {
    border-color: $color;

    background-color: $color;
  }
}
