.footer-links-wrapper {
  margin-bottom: 40px;
  padding-bottom: 75px;
  border-bottom: 1px solid $dark-grey;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-menu {
  display: block;

  @media screen and (min-width: $sm) {
    display: flex;
    flex-wrap: nowrap;
  }
}
