.grid-lg-3 {
  @media screen and (min-width: $lg) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;

    column-gap: 40px;
  }
}

.grid-md-2 {
  @media screen and (min-width: $md) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    column-gap: 50px;
  }
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  column-gap: 50px;
  row-gap: 25px;
}

.grid-sm-3 {  
  @media screen and (min-width: $sm) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    column-gap: 50px;
    row-gap: 25px;
  }
}

.grid-md-4 {
  @media screen and (min-width: $md) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    column-gap: 50px;
    row-gap: 25px;
  }
}
