.header-wrapper {
  display: block;
  margin-bottom: 80px;
  
  @media screen and (min-width: $lg) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 150px;
  }
}

.header-search {
  display: block;
    
  @media screen and (min-width: $md) {
    flex: 0 1 248px;
    margin: 0 0 0 auto;
  }
}

.header-menu {
  display: block;
  margin: 0 0 16px;
      
  @media screen and (min-width: $lg) {
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
  }
}
  
.header-menu-item {
  padding: 0 12px;

  color: $dark-grey;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.18;
  text-transform: uppercase;
}

.header-form {
  max-width: 570px;
  padding-bottom: 200px;
}
