.subscription-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 405px;
  padding: 21px 24px 66px;
  border-radius: 20px;

  font-size: 12px;

  &:hover {
    box-shadow: 0 0 999px 999px rgba(0, 0, 0, 0.5);
    transform: scale(1.02);
    
    transition: all 0.2s ease-out;
  }
}

.subscription-price-wrapper {
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
}

