.icons {
  margin-right: 16px;
}

.logo-name, .header-menu-item {
  font-weight: bold;
  font-size: 11px;
  line-height: 1.18;
  text-transform: uppercase;
}

.header-menu {
  display: block;
  margin: 0 0 16px 0;
}

.header-menu-item {
  padding-right: 24px;
  color: #CACACA;
}

.header-menu-item:hover {
  color: #fff;
}

.search-form {
  display: block;
}

.search-input {
  width: 100%;
  padding: 5px 10px;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 13.3px;
  line-height: 1.13;
  text-transform: uppercase;
  color: #E0E0E0;
  background-color: #3C3B3D;
  border-radius: 50px;
  border: none;
}

.main-title {
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
}

.section-title {
  margin-bottom: 48px;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}

.header-label {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 270px;
          flex: 1 0 270px;
  padding: 0 15px;
}

.header-input {
  width: 100%;
  padding: 16px 22px 18px;
  margin-bottom: 30px;
  font-family: inherit;
  font-style: inherit;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  color: inherit;
  border: 2px solid #fff;
  border-radius: 3px;
  background-color: transparent;
}

.header-input::-webkit-input-placeholder {
  color: inherit;
  opacity: 1;
}

.header-input:-ms-input-placeholder {
  color: inherit;
  opacity: 1;
}

.header-input::-ms-input-placeholder {
  color: inherit;
  opacity: 1;
}

.header-input::placeholder {
  color: inherit;
  opacity: 1;
}

.send-form-btn {
  width: 100%;
  padding: 21px 0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13.3px;
  line-height: 1.13;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  color: inherit;
  background-color: #34C176;
}

.shuffle-btn, .add-to-fav-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  padding: 21px 31px;
  margin: 0 24px 24px 0;
  vertical-align: middle;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12.8px;
  text-align: left;
  text-transform: uppercase;
  color: inherit;
  border: none;
  border-radius: 5px;
  background-color: #5328A1;
}

.add-to-fav-btn {
  background-color: #95390C;
}

.news-img {
  width: 100%;
  margin-bottom: 50px;
}

.news-title {
  font-size: 16px;
  text-transform: capitalize;
}

.news-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 48px;
}

.author-name {
  margin-right: 16px;
  font-size: 12.8px;
  text-transform: uppercase;
  color: #F89202;
}

.news-btn {
  display: inline-block;
  padding: 17px 30px;
  font-size: 12.8px;
  text-transform: uppercase;
  border: 1px solid #fff;
  border-radius: 5px;
}

.mobile-app-btn {
  display: inline-block;
  padding: 17px 40px;
  font-size: 12.8px;
  background-color: #95390C;
  border-radius: 32px;
}

.track-name {
  font-weight: bold;
  font-size: 12.8px;
  text-transform: uppercase;
}

.track-artist {
  font-size: 12.8px;
  text-transform: capitalize;
  color: #CACACA;
}

.track-time {
  font-size: 12.8px;
  margin-left: auto;
  color: #CACACA;
}

.album-img,
.artist-img {
  width: 100%;
  margin-bottom: 18px;
}

.album-name,
.artist-name {
  font-weight: bold;
  font-size: 18px;
  text-transform: capitalize;
}

.footer-title {
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}

.footer-menu {
  display: block;
}

.footer-menu-item {
  margin-right: 16px;
  margin-bottom: 16px;
}

@media screen and (min-width: 769px) {
  .search-form {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 248px;
            flex: 0 1 248px;
    margin: 0 0 0 auto;
  }
  .header-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: 0;
  }
  .main-title {
    font-size: 60px;
  }
  .section-title {
    font-size: 38px;
  }
  .news-title {
    font-size: 30px;
  }
  .news-img {
    margin-bottom: 0;
  }
  .footer-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
/*# sourceMappingURL=elements.css.map */