.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-64 {
  margin-bottom: 64px;
}

.mb-100 {
  margin-bottom: 100px;
}

@media screen and (min-width: 768px) {
  .mb-md-30 {
    margin-bottom: 30px;
  }
}

.mr-16 {
  margin-right: 16px;
}

.mr-24 {
  margin-right: 24px;
}

.block-center {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.text-grey {
  color: #cacaca;
}

.fz-16 {
  font-size: 16px !important;
}

.fz-64 {
  font-size: 64px;
}

.order {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.color-orange {
  color: #f89202;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inline-flex {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
}

.ai-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.w-200 {
  width: 200px;
}

.w-100pr {
  width: 100%;
}

.br-30 {
  border-radius: 30px !important;
}

.content-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  overflow-x: hidden;
  padding: 0 20px;
}

@media (min-width: 1200px) {
  .content-wrapper {
    padding: 0;
  }
}

.header-wrapper {
  margin-bottom: 80px;
}

@media screen and (min-width: 768px) {
  .header-wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 150px;
  }
}

.logo-field {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 16px;
}

@media screen and (min-width: 768px) {
  .logo-field {
    margin: 0 88px 0 0;
  }
}

.header-form {
  max-width: 570px;
  padding-bottom: 200px;
}

.row {
  display: block;
  margin-left: -25px;
  margin-right: -25px;
}

@media screen and (min-width: 768px) {
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  padding: 0 25px;
}

.tracks-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  row-gap: 25px;
}

@media screen and (min-width: 550px) {
  .tracks-wrapper {
    -webkit-column-gap: 50px;
            column-gap: 50px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.popular-track {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.track-name-field {
  display: inline-block;
  padding-left: 15px;
}

.grid {
  -webkit-column-gap: 50px;
          column-gap: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  row-gap: 25px;
}

@media screen and (min-width: 550px) {
  .grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .grid {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.footer-top {
  border-bottom: 1px solid #cacaca;
  margin-bottom: 40px;
  padding-bottom: 75px;
}

.main-header-bg {
  background-image: url(../images/main-header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 25px;
}

.morten-harket-header-bg {
  background-image: url(../images/morten-harket-header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 25px;
}

.footer-bg {
  background: linear-gradient(265.08deg, #95390c 14.9%, #5328a1 68.95%);
  padding-bottom: 48px;
  padding-top: 60px;
}

.main-title {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .main-title {
    font-size: 60px;
  }
}

.section-title {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .section-title {
    font-size: 38px;
  }
}

.news-title {
  font-size: 16px;
  text-transform: capitalize;
}

@media screen and (min-width: 768px) {
  .news-title {
    font-size: 30px;
  }
}

.news-author {
  font-size: 12px;
  text-transform: uppercase;
}

.track-name {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.track-artist {
  color: #cacaca;
  font-size: 12px;
  text-transform: capitalize;
}

.track-time {
  color: #cacaca;
  font-size: 12px;
  margin-left: auto;
}

.album-name,
.artist-name {
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
}

.footer-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.logo-name, .header-menu-item {
  font-size: 12px;
  font-weight: bold;
  line-height: 1.18;
  text-transform: uppercase;
}

.header-menu {
  display: block;
  margin: 0 0 16px;
}

@media screen and (min-width: 768px) {
  .header-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: 0;
  }
}

.header-menu-item {
  color: #cacaca;
  padding-right: 24px;
}

.header-menu-item:hover {
  color: #fff;
}

.footer-menu {
  display: block;
}

@media screen and (min-width: 768px) {
  .footer-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.footer-menu-item {
  margin-bottom: 16px;
  margin-right: 16px;
}

.search-form {
  display: block;
}

@media screen and (min-width: 768px) {
  .search-form {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 248px;
            flex: 0 1 248px;
    margin: 0 0 0 auto;
  }
}

.search-input {
  background-color: #3c3b3d;
  border: none;
  border-radius: 50px;
  color: #e0e0e0;
  font-family: inherit;
  font-size: 13px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2;
  padding: 5px 10px;
  text-transform: uppercase;
  width: 100%;
}

.header-inputs-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.lead-input {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 3px;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  font-style: inherit;
  font-weight: bold;
  line-height: 1.17;
  margin-bottom: 30px;
  padding: 15px 22px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .lead-input {
    width: 270px;
  }
}

.lead-input::-webkit-input-placeholder {
  color: inherit;
  opacity: 1;
}

.lead-input:-ms-input-placeholder {
  color: inherit;
  opacity: 1;
}

.lead-input::-ms-input-placeholder {
  color: inherit;
  opacity: 1;
}

.lead-input::placeholder {
  color: inherit;
  opacity: 1;
}

.btn {
  border: 1px solid #fff;
  border-radius: 5px;
  color: inherit;
  background-color: transparent;
  display: inline-block;
  font-size: 13px;
  padding: 20px 30px;
  text-transform: uppercase;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.btn:hover,
.btn:focus {
  -webkit-box-shadow: 0 0.5em 0.5em -0.4em #fff;
          box-shadow: 0 0.5em 0.5em -0.4em #fff;
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
  outline: none;
  border: 1px solid #fff;
}

.btn-white {
  background-color: #fff;
  border-color: #fff;
}

.btn-black {
  background-color: #08020d;
  border-color: #08020d;
}

.btn-grey {
  background-color: #e0e0e0;
  border-color: #e0e0e0;
}

.btn-dark-grey {
  background-color: #cacaca;
  border-color: #cacaca;
}

.btn-dark {
  background-color: #3c3b3d;
  border-color: #3c3b3d;
}

.btn-green {
  background-color: #34c176;
  border-color: #34c176;
}

.btn-orange {
  background-color: #f89202;
  border-color: #f89202;
}

.btn-purple {
  background-color: #5328a1;
  border-color: #5328a1;
}

.btn-red {
  background-color: #95390c;
  border-color: #95390c;
}

.subscription-cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.subscription-free-card {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../images/subscription-free.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 12px;
  margin: 0 10px 40px;
  max-width: 374px;
  padding: 21px 24px 66px;
}

.subscription-standart-card {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../images/subscription-standart.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 12px;
  margin: 0 10px 40px;
  max-width: 374px;
  padding: 21px 24px 66px;
}

.subscription-premium-card {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../images/subscription-premium.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 12px;
  margin: 0 10px 40px;
  max-width: 374px;
  padding: 21px 24px 66px;
}

.subscription-card-title {
  font-size: 16px;
  margin-bottom: 180px;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .subscription-card-title {
    font-size: 24px;
  }
}

.subscription-price-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.subscription-price {
  font-size: 64px;
  line-height: 1;
}

.subscription-currency {
  font-size: 32px;
  text-transform: uppercase;
}

.news-img {
  margin-bottom: 50px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .news-img {
    margin-bottom: 0;
  }
}

.album-img,
.artist-img {
  margin-bottom: 18px;
  width: 100%;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background-color: #08020d;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: #fff;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-weight: inherit;
  margin: 0;
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
}

svg {
  fill: #fff;
}

button {
  cursor: pointer;
}
