.content-wrapper {
  max-width: 1200px;
  padding: 0 20px 0;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .content-wrapper {
    padding: 0;
  }
}

.header-top {
  margin-bottom: 80px;
}

@media screen and (min-width: 769px) {
  .header-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 150px;
  }
}

.logo-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 16px 0;
}

@media screen and (min-width: 769px) {
  .logo-field {
    margin: 0 88px 0 0;
  }
}

.section-wrapper {
  margin-bottom: 100px;
}

.header-form {
  max-width: 570px;
  padding-bottom: 200px;
}

.header-inputs-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -15px;
}

.row {
  display: block;
  margin: 0 -25px 65px;
}

.row:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 769px) {
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  padding: 0 25px;
}

.tracks-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  row-gap: 25px;
}

@media screen and (min-width: 550px) {
  .tracks-wrapper {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 50px;
            column-gap: 50px;
  }
}

.popular-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.track-name-field {
  display: inline-block;
  padding-left: 15px;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 50px;
          column-gap: 50px;
  row-gap: 25px;
}

@media screen and (min-width: 550px) {
  .grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 769px) {
  .grid {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.footer-top {
  padding-bottom: 75px;
  margin-bottom: 40px;
  border-bottom: 1px solid #CACACA;
}

.main-header-wrapper {
  padding-top: 25px;
  margin-bottom: 100px;
  background-image: url(../images/main-header.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.morten-harket-header-wrapper {
  padding-top: 25px;
  margin-bottom: 100px;
  background-image: url(../images/morten-harket-header.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer-wrapper {
  padding-top: 60px;
  padding-bottom: 48px;
  background: linear-gradient(265.08deg, #95390C 14.9%, #5328A1 68.95%);
}

.block-center {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.text-grey {
  color: #CACACA;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mr-16 {
  margin-right: 16px;
}

.mr-24 {
  margin-right: 24px;
}

.mb-responsive {
  margin-bottom: 16px;
}

@media screen and (min-width: 769px) {
  .mb-responsive {
    margin-bottom: 30px;
  }
}

.order {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-title {
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
}

@media screen and (min-width: 769px) {
  .main-title {
    font-size: 60px;
  }
}

.section-title {
  margin-bottom: 48px;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}

@media screen and (min-width: 769px) {
  .section-title {
    font-size: 38px;
  }
}

.news-title {
  font-size: 16px;
  text-transform: capitalize;
}

@media screen and (min-width: 769px) {
  .news-title {
    font-size: 30px;
  }
}

.news-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 48px;
}

.author-name {
  margin-right: 16px;
  font-size: 12.8px;
  text-transform: uppercase;
  color: #F89202;
}

.track-name {
  font-weight: bold;
  font-size: 12.8px;
  text-transform: uppercase;
}

.track-artist {
  font-size: 12.8px;
  text-transform: capitalize;
  color: #CACACA;
}

.track-time {
  font-size: 12.8px;
  margin-left: auto;
  color: #CACACA;
}

.album-name,
.artist-name {
  font-weight: bold;
  font-size: 18px;
  text-transform: capitalize;
}

.footer-title {
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}

.logo-name, .header-menu-item {
  font-weight: bold;
  font-size: 11px;
  line-height: 1.18;
  text-transform: uppercase;
}

.header-menu {
  display: block;
  margin: 0 0 16px 0;
}

@media screen and (min-width: 769px) {
  .header-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: 0;
  }
}

.header-menu-item {
  padding-right: 24px;
  color: #CACACA;
}

.header-menu-item:hover {
  color: #fff;
}

.footer-menu {
  display: block;
}

@media screen and (min-width: 769px) {
  .footer-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.footer-menu-item {
  margin-right: 16px;
  margin-bottom: 16px;
}

.search-form {
  display: block;
}

@media screen and (min-width: 769px) {
  .search-form {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 248px;
            flex: 0 1 248px;
    margin: 0 0 0 auto;
  }
}

.search-input {
  width: 100%;
  padding: 5px 10px;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 13.3px;
  line-height: 1.13;
  text-transform: uppercase;
  color: #E0E0E0;
  background-color: #3C3B3D;
  border-radius: 50px;
  border: none;
}

.header-label {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 270px;
          flex: 1 0 270px;
  padding: 0 15px;
}

.header-input {
  width: 100%;
  padding: 16px 22px 18px;
  margin-bottom: 30px;
  font-family: inherit;
  font-style: inherit;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  color: inherit;
  border: 2px solid #fff;
  border-radius: 3px;
  background-color: transparent;
}

.header-input::-webkit-input-placeholder {
  color: inherit;
  opacity: 1;
}

.header-input:-ms-input-placeholder {
  color: inherit;
  opacity: 1;
}

.header-input::-ms-input-placeholder {
  color: inherit;
  opacity: 1;
}

.header-input::placeholder {
  color: inherit;
  opacity: 1;
}

.send-form-btn {
  width: 100%;
  padding: 21px 0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13.3px;
  line-height: 1.13;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  color: inherit;
  background-color: #34C176;
}

.shuffle-btn, .add-to-fav-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  padding: 21px 31px;
  margin: 0 24px 24px 0;
  vertical-align: middle;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12.8px;
  text-align: left;
  text-transform: uppercase;
  color: inherit;
  border: none;
  border-radius: 5px;
  background-color: #5328A1;
}

.add-to-fav-btn {
  background-color: #95390C;
}

.mobile-app-btn {
  display: inline-block;
  padding: 17px 40px;
  font-size: 12.8px;
  background-color: #95390C;
  border-radius: 32px;
}

.news-btn {
  display: inline-block;
  padding: 17px 30px;
  font-size: 12.8px;
  text-transform: uppercase;
  border: 1px solid #fff;
  border-radius: 5px;
}

.subscription-cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.subscription-free-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 374px;
  padding: 21px 24px 66px;
  margin: 0 auto 40px;
  background-image: url(../images/subscription-free.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
}

.subscription-standart-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 374px;
  padding: 21px 24px 66px;
  margin: 0 auto 40px;
  background-image: url(../images/subscription-standart.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
}

.subscription-premium-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 374px;
  padding: 21px 24px 66px;
  margin: 0 auto 40px;
  background-image: url(../images/subscription-premium.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
}

.subscription-card-title {
  margin-bottom: 180px;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
}

.subscription-price-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 24px;
}

.subscription-price {
  font-size: 64px;
}

.subscription-currency {
  margin-top: 16px;
  margin-left: 16px;
  font-size: 32px;
  text-transform: uppercase;
}

.subscription-btn {
  display: block;
  width: 100%;
  padding: 21px 0;
  margin-bottom: 64px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #fff;
  border-radius: 5px;
}

@media screen and (min-width: 769px) {
  .subscription-card-title {
    font-size: 24px;
  }
}

.icons {
  margin-right: 16px;
}

.news-img {
  width: 100%;
  margin-bottom: 50px;
}

@media screen and (min-width: 769px) {
  .news-img {
    margin-bottom: 0;
  }
}

.album-img,
.artist-img {
  width: 100%;
  margin-bottom: 18px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background-color: #08020D;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-weight: inherit;
}

p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

svg {
  fill: #fff;
}
