$bg-imgs: (main-header, morten-harket-header);

@mixin bg-img ($name) {
  .#{$name}-bg {
    background-image: url(../images/#{$name}.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 25px;
  }
}
@each $bg-img-name in $bg-imgs {
  @include bg-img($bg-img-name);
}

.footer-bg {    
  background: linear-gradient(265.08deg, #95390c 14.9%, #5328a1 68.95%);
  padding-bottom: 48px;
  padding-top: 60px;
}
