.btn {
  border: 1px solid $white;
  border-radius: 5px;
  color: inherit;
  background-color: transparent;
  display: inline-block;
  font-size: 13px;
  padding: 20px 30px;
  text-transform: uppercase;
}

@mixin btn-color($color-name, $color) {
  .btn-#{$color-name} {
    background-color: $color;
    border-color: $color;
  }
}
@each $color-name, $color in $colors {
  @include btn-color($color-name, $color);
}
