.search-form {
  display: block;
    
  @media screen and (min-width: $md) {
    flex: 0 1 248px;
    margin: 0 0 0 auto;
  }
}

.search-input {
  width: 100%;
  padding: 5px 10px;
  border-style: none;
  border-radius: 50px;

  color: $grey;
  font-weight: normal;
  font-size: 13px;
  font-family: inherit;
  font-style: normal;
  line-height: 1.2;
  text-transform: uppercase;

  background-color: $dark;
  outline: none;
}

.lead-inputs-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.lead-input {
  width: 100%;
  margin-bottom: 30px;
  padding: 15px 22px;
  border: 2px solid $white;
  border-radius: 3px;

  color: inherit;
  font-weight: bold;
  font-size: 14px;
  font-family: inherit;
  font-style: inherit;
  line-height: 1.17;

  background-color: transparent;

  @media screen and (min-width:$md) {
    width: 270px;
  }
}

.lead-input::placeholder {
  color: inherit;

  opacity: 1;
}
