.search-form {
  display: block;
    
  @media screen and (min-width: $md) {
    flex: 0 1 248px;
    margin: 0 0 0 auto;
  }
}

.search-input {
  background-color: $dark;
  border: none;
  border-radius: 50px;
  color: $grey;
  font-family: inherit;
  font-size: 13px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2;
  padding: 5px 10px;
  text-transform: uppercase;
  width: 100%;
  outline: none;
}

.header-inputs-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.lead-input {
  background-color: transparent;
  border: 2px solid $white;
  border-radius: 3px;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  font-style: inherit;
  font-weight: bold;
  line-height: 1.17;
  margin-bottom: 30px;
  padding: 15px 22px;
  width: 100%;

  @media screen and (min-width:$md) {
    width: 270px;
  }
}

.lead-input::placeholder {
  color: inherit;
  opacity: 1;
}
