.grid-1-3 {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 40px;
    justify-items: center;
  
    @media screen and (min-width: 820px) {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 20px;
    }
  
    @media screen and (min-width: 1024px) {
      column-gap: 40px;
    }
}

.grid-1-2 {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 24px;
  
    @media screen and (min-width: $md) {
      column-gap: 50px;
      grid-template-columns: repeat(2, 1fr);
    }
}

.track-grid {
    display: grid;
    grid-template-columns: 50px max-content auto max-content;
    column-gap: 16px;
    align-items: center;
}

.grid-2-3-4 {
    column-gap: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 25px;
  
    @media screen and (min-width: $sm) {
      grid-template-columns: repeat(3, 1fr);
    }
  
    @media screen and (min-width: $md) {
      grid-template-columns: repeat(4, 1fr);
    }
}