.logo-name {
  font-size: 12px;
  font-weight: bold;
  line-height: 1.18;
  text-transform: uppercase;
}

.header-menu {
  display: block;
  margin: 0 0 16px;
    
  @media screen and (min-width: $md) {
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
  }
}

.header-menu-item {
  @extend .logo-name;
  color: $dark-grey;
  padding-right: 24px;

  &:hover {
    color: $white;   
  }
}

.footer-menu {
  display: block;

  @media screen and (min-width: $md) {
    display: flex;
    flex-wrap: nowrap;
  }
}

.footer-menu-item {
  margin-bottom: 16px;
  margin-right: 16px;
}
