.header-menu {
  display: block;
  margin: 0 0 16px;
    
  @media screen and (min-width: $lg) {
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
  }
}

.header-menu-item {
  font-size: 12px;
  font-weight: bold;
  line-height: 1.18;
  text-transform: uppercase;
  color: $dark-grey;
  padding: 0 12px;
}

.logo-field {
  align-items: center;
  display: flex;
  margin: 0 0 16px 0;

  @media screen and (min-width: $lg) {
    margin: 0 64px 0 0;
  }
}

.logo-name {
  @extend .header-menu-item;
  color: inherit;
}

.scale-hover {
  transition: 0.1s;

  &:hover {
    transform: scale(1.05);
    color: $white;
  }  
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-menu {
  display: block;

  @media screen and (min-width: $sm) {
    display: flex;
    flex-wrap: nowrap;
  }
}
