$sizes: (12, 16, 18, 24, 32, 48, 64, 100);

@mixin sizes($size) {
  .mb-#{$size} {
    margin-bottom: #{$size}px;
  }

  .fz-#{$size} {
    font-size: #{$size}px;
  }  
}
@each $size in $sizes {
  @include sizes($size);
}

//put names of background images in a list $bg-imgs

$bg-imgs: (main-header, morten-harket-header, 
           subscription-free, subscription-standart, subscription-premium,
           eminem, ozzy);

@mixin bg-img ($name) {
  .#{$name}-bg {
    background-image: url(../images/#{$name}.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 1px;
    min-height: 200px;
  }
}
@each $bg-img-name in $bg-imgs {
  @include bg-img($bg-img-name);
}