.icons {
    margin-right: 16px;
}

.news-img {
    width: 100%;
    margin-bottom: 50px;
    
    @media screen and (min-width: 769px) {
        margin-bottom: 0;
    }
}

.album-img,
.artist-img {    
    width: 100%;
    margin-bottom: 18px;
}