.icons {
  margin-right: 16px;
}

.news-img {
  margin-bottom: 50px;
  width: 100%;
    
  @media screen and (min-width: $md) {
    margin-bottom: 0;
  }
}

.album-img,
.artist-img {
  margin-bottom: 18px;
  width: 100%;
}
