.news-img {
  margin-bottom: 50px;
  width: 100%;
    
  @media screen and (min-width: $md) {
    margin-bottom: 0;
  }
}

.album-img,
.artist-img {
  margin-bottom: 18px;
  width: 100%;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}