.subscription-cards-container {
  display: flex;
  flex-wrap: wrap;
}

$subscriptions: (subscription-free, subscription-standart, subscription-premium);

@mixin subscription-card ($name) {
  .#{$name}-card {
    align-items: center;
    background-image: url(../images/#{$name}.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    margin: 0 10px 40px;
    max-width: 374px;
    padding: 21px 24px 66px;
  }
}
@each $subscription in $subscriptions {
  @include subscription-card($subscription);
}

.subscription-card-title {
  font-size: 16px;
  margin-bottom: 180px;
  text-align: center;
  text-transform: uppercase;

  @media screen and (min-width: $md) {
    font-size: 24px;   
  }
}

.subscription-price-wrapper {
  align-items: flex-start;
  display: flex;
  margin-bottom: 40px;
}

.subscription-price {
  font-size: 64px;
  line-height: 1;
}

.subscription-currency { 
  font-size: 32px;
  text-transform: uppercase;
}

.subscription-btn {
  border: 1px solid $white;
  border-radius: 5px;
  display: block;
  font-size: 16px;
  margin-bottom: 64px;
  padding: 21px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

