.main-title {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
    
  @media screen and (min-width: $md) {
    font-size: 60px;
  }
}

.section-title {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
    
  @media screen and (min-width: $md) {
    font-size: 38px;
  }
}

.news-title {
  font-size: 16px;
  text-transform: capitalize;
    
  @media screen and (min-width: $md) {
    font-size: 30px;
  }
}

.news-author {
  font-size: 12px;
  text-transform: uppercase;
}

.track-name {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.track-artist {
  color: $dark-grey;
  font-size: 12px;
  text-transform: capitalize;
}

.track-time {
  color: $dark-grey;
  font-size: 12px;
  margin-left: auto;
}

.album-name,
.artist-name {
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
}

.footer-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px;
  text-transform: uppercase;
}
