.main-title {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
    
  @media screen and (min-width: 769px) {
    font-size: 60px;
  }
}

.section-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 48px;
  text-transform: uppercase;
    
  @media screen and (min-width: 769px) {
    font-size: 38px;
  }
}

.news-title {
  font-size: 16px;
  text-transform: capitalize;
    
  @media screen and (min-width: 769px) {
    font-size: 30px;
  }
}

.news-author {
  align-items: center;
  display: flex;
  margin-bottom: 48px;
}

.author-name {
  color: $orange;
  font-size: 12.8px;
  margin-right: 16px;
  text-transform: uppercase;
}

.track-name {
  font-size: 12.8px;
  font-weight: bold;
  text-transform: uppercase;
}

.track-artist {
  color: $dark-grey;
  font-size: 12.8px;
  text-transform: capitalize;
}

.track-time {
  color: $dark-grey;
  font-size: 12.8px;
  margin-left: auto;
}

.album-name,
.artist-name {
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
}

.footer-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px;
  text-transform: uppercase;
}
