$sizes: (12, 16, 18, 24, 32, 48, 64, 100);

@mixin sizes($size) {
  .mb-#{$size} {
    margin-bottom: #{$size}px;
  }

  .fz-#{$size} {
    font-size: #{$size}px;
  }  
}
@each $size in $sizes {
  @include sizes($size);
}

.mb-md-32 {
  @media screen and (min-width: $md) {
    margin-bottom: 32px;
  }
}

.mb-md-0 {
  @media screen and (min-width: $md) {
    margin-bottom: 0;
  }
}

.mr-16 {
  margin-right: 16px;
}

.mr-24 {
  margin-right: 24px;
}

// .mr-auto {
//   margin-right: auto;
// }

.pt-24 {
  padding-top: 24px;
}

.block-center {    
  margin: auto;
}

.bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

.capital {
  text-transform: capitalize;
}

.text-center {
  text-align: center;
}

.text-grey {
  color: $dark-grey;
}

.color-orange {
  color: $orange;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex !important;
}

// .inline-block {
//   display: inline-block;
// }

.ai-center {  
  align-items: center;
}

.w-200 {
  width: 200px;
}

.w-100pr {
  width: 100%;
}

.br-30 {
  border-radius: 30px !important;
}
