//Margins, Paddings, Font-sizes
@each $size in $sizes {
  .mb-#{$size} {
    margin-bottom: #{$size}px !important;
  }

  .mr-#{$size} {
    margin-right: #{$size}px !important;
  }

  .fz-#{$size} {
    font-size: #{$size}px !important;
  }
}

.pt-24 {
  padding-top: 24px !important;
}

.pt-60 {
  padding-top: 60px !important;
}

.pb-48 {
  padding-bottom: 48px !important;
}

.mb-180 {
  margin-bottom: 180px !important;
}

.mx-0 {    
  margin-right: auto !important;
  margin-left: auto !important;
}

.my-0 {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.ml-auto {
  margin-left: auto !important;
}

//Responsive margins

@each $breakpoint-name, $breakpoint in $breakpoints {
  @each $size in $sizes {
    .mb-#{$breakpoint-name}-#{$size} {
      @media screen and (min-width: $breakpoint) {
        margin-bottom: #{$size}px !important;
      }        
    }
  
    .mr-#{$breakpoint-name}-#{$size} {
      @media screen and (min-width: $breakpoint) {
        margin-right: #{$size}px !important;
      }        
    }
  }
}

//Text style

.lh-1 {
  line-height: 1 !important;
}

.bold {
  font-weight: bold !important;
}

.uppercase {
  text-transform: uppercase !important;
}

.capital {
  text-transform: capitalize !important;
}

.text-center {
  text-align: center !important;
}

.color-white {
  color: $white !important;
}

.color-grey {
  color: $dark-grey !important;
}

.color-orange {
  color: $orange !important;
}

//Position

.relative {
  position: relative !important;
}

//Box-model

.inline-block {
  display: inline-block !important;
}

.flex {
  display: flex !important;
}

.inline-flex {
  display: inline-flex !important;
}

.ai-center {  
  align-items: center !important;
}

.w-200 {
  width: 200px !important;
}

.w-100pr {
  width: 100% !important;
}

.br-30 {
  border-radius: 30px !important;
}

//Backgrounds

@each $bg-img-name in $bg-imgs {
  .#{$bg-img-name}-bg {
    min-width: 1px;
    min-height: 200px;

    background-image: url(../images/#{$bg-img-name}.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

//Click-area

.click-area {
  transition-duration: 0.1s;

  &::after {
    position: absolute;

    background-color: transparent;

    content: '';
  }

  &:hover {    
    transform: scale(1.3);
  }
}

.click-area-google {
  &::after {
    top: -14px;
    right: -10px;
    bottom: -7px;
    left: -10px;
  }
}

.click-area-twitter {
  &::after {
    top: -13px;
    right: -11px;
    bottom: -5px;
    left: -10px;
  }
}

.click-area-fb {
  &::after {
    top: -12px;
    right: -13px;
    bottom: -6px;
    left: -11px;
  }
}

.click-area-inst {
  &::after {
    top: -12px;
    right: -12px;
    bottom: -6px;
    left: -10px;
  }
}

//Other

.linear-gradient {
  background-image: linear-gradient(265.08deg, #95390c 14.9%, #5328a1 68.95%);
}

.content-wrapper {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;

  @media (min-width: $xlg) {
    padding: 0;
  }
}

.scale-hover {
  transition: 0.15s;

  &:hover {
    color: $white;

    transform: scale(1.05);
  }  
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;

  clip: rect(0 0 0 0);
}

.order-md-1 {
  @media screen and (min-width: $md) {
    position: relative;

    grid-row: 1;
    grid-column: 1;
  }
}

.order-md-2 {
  @media screen and (min-width: $md) {
    position: relative;

    grid-row: 1;
    grid-column: 2;
  }
}
