.block-center {    
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.text-grey {
  color: $dark-grey;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mr-16 {
  margin-right: 16px;
}

.mr-24 {
  margin-right: 24px;
}

.mb-responsive {
  margin-bottom: 16px;

  @media screen and (min-width: $md) {
    margin-bottom: 30px;
  }
}

.order {
  order: 1;
}

.color-orange {
  color: $orange;
}

.flex {
  display: flex;
}

.ai-center {  
  align-items: center;
}
