.content-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;

  @media (min-width: $xlg) {
    padding: 0;
  }
}

.header-wrapper {
  margin-bottom: 80px;

  @media screen and (min-width: $md) {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 150px;
  }
}

.header-form {
  max-width: 570px;
  padding-bottom: 200px;
}

.row {
  display: block;
  margin-left: -25px;
  margin-right: -25px;
  align-items: center;

  @media screen and (min-width: $md) {
    display: flex;
    justify-content: space-between;
  }
}

.column {    
  flex: 1 1 0;
  padding: 0 25px;
}

.tracks-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 25px;

  @media screen and (min-width: $sm) {
    column-gap: 50px;
    grid-template-columns: repeat(2, 1fr);
  }
}

.popular-track {
  align-items: center;
  display: flex;
}

.track-name-field {
  display: inline-block;
  padding-left: 15px;
}

.grid {
  column-gap: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 25px;

  @media screen and (min-width: $sm) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (min-width: $md) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.footer-top {
  border-bottom: 1px solid $dark-grey;
  margin-bottom: 40px;
  padding-bottom: 75px;
}
