.content-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;

  @media (min-width: $xlg) {
    padding: 0;
  }
}

.header-wrapper {
  margin-bottom: 80px;

  @media screen and (min-width: $md) {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 150px;
  }
}

.header-form {
  max-width: 570px;
  padding-bottom: 200px;
}

.grid-1-3 {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 40px;
  justify-content: center;

  @media screen and (min-width: 820px) {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }

  @media screen and (min-width: $lg) {
    column-gap: 40px;
  }
}

.grid-1-2 {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 24px;

  @media screen and (min-width: $md) {
    column-gap: 50px;
    grid-template-columns: repeat(2, 1fr);
  }
}

.track-name-field {
  display: inline-block;
  padding-left: 15px;
}

.grid-2-3-4 {
  column-gap: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 25px;

  @media screen and (min-width: $sm) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (min-width: $md) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.footer-top {
  border-bottom: 1px solid $dark-grey;
  margin-bottom: 40px;
  padding-bottom: 75px;
}
